ion-toast.ngx-i8-toast-error {
  --background: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
}
ion-toast.ngx-i8-toast-success {
  --background: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}

ion-toast.ngx-i8-toast {
  --start: 10px;
  --end: 10px;
  --width: 90%;
  --max-width: 90%;
}

.ngx-i8-button-back,
.alert-button.ngx-i8-button-back {
  color: var(--ion-color-tertiary) !important;
}

.ngx-i8-button-delete,
.alert-button.ngx-i8-button-delete {
  color: var(--ion-color-danger) !important;
}

.ngx-i8-validation-error {
  color: var(--ion-color-danger);
  font-size: 0.8em;
}
