<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-menu-toggle autoHide="false">
        <ion-list>
          <ion-list-header color="primary"
            ><h3>NgxI8AngularFire</h3></ion-list-header
          >
          <ion-item-divider>AuthService</ion-item-divider>
          <ion-item
            routerDirection="root"
            routerLink="/angularfire/auth-service/sign-in"
          >
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
            <ion-label>Sign In/Sign Out</ion-label>
          </ion-item>
          <ion-item
            routerDirection="root"
            routerLink="/angularfire/auth-service/create-user"
          >
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            <ion-label>Create User</ion-label>
          </ion-item>
          <ion-item
            routerDirection="root"
            routerLink="/angularfire/auth-service/create-user"
          >
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label>Recover Password *TBD</ion-label>
          </ion-item>
          <ion-item
          routerDirection="root"
          routerLink="/angularfire/auth-service/create-user"
        >
          <ion-icon slot="start" name="keypad-outline"></ion-icon>
          <ion-label>Change Password *TBD</ion-label>
        </ion-item>
          <ion-item-divider>DAO</ion-item-divider>
          <ion-item
            routerDirection="root"
            routerLink="/angularfire/dao"
          >
            <ion-icon slot="start" name="server-outline"></ion-icon>
            <ion-label>CRUD (public/simple)</ion-label>
          </ion-item>
          <ion-item
            routerDirection="root"
            routerLink="/angularfire/dao"
          >
            <ion-icon slot="start" name="server-outline"></ion-icon>
            <ion-label>CRUD (private) *TBD</ion-label>
          </ion-item>
          <ion-list-header color="primary"
            ><h3>NgxI8Ionic</h3></ion-list-header
          >
          <ion-item-divider>Components</ion-item-divider>
          <ion-item
            routerDirection="root"
            routerLink="/ionic/auth-template-component"
          >
            <ion-icon slot="start" name="barcode-outline"></ion-icon>
            <ion-label>Auth Template Component</ion-label>
          </ion-item>
          <ion-item-divider>Directives</ion-item-divider>
          <ion-item
            routerDirection="root"
            routerLink="/ionic/buttons-directive"
          >
            <ion-icon slot="start" name="enter-outline"></ion-icon>
            <ion-label>Buttons Directive</ion-label>
          </ion-item>
          <ion-item
            routerDirection="root"
            routerLink="/ionic/char-count"
          >
            <ion-icon slot="start" name="infinite-outline"></ion-icon>
            <ion-label>Char Count Directive</ion-label>
          </ion-item>
          <ion-item
            routerDirection="root"
            routerLink="/ionic/password-unmask-directive"
          >
            <ion-icon slot="start" name="eye-outline"></ion-icon>
            <ion-label>Password Unmaks Directive</ion-label>
          </ion-item>
          <ion-item
            routerDirection="root"
            routerLink="/ionic/validation-messages-directive"
          >
            <ion-icon slot="start" name="alert-outline"></ion-icon>
            <ion-label>Validation Messages Directive</ion-label>
          </ion-item>
          <ion-item-divider>Services</ion-item-divider>
          <ion-item
            routerDirection="root"
            routerLink="/ionic/dialog-service"
          >
            <ion-icon slot="start" name="chatbox-outline"></ion-icon>
            <ion-label>Dialog Service</ion-label>
          </ion-item>
          <ion-item-divider>Validators</ion-item-divider>
          <ion-item
            routerDirection="root"
            routerLink="/ionic/are-equal-validator"
          >
            <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
            <ion-label>Are Equal Validator</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
