<ion-grid class="ngx-i8-auth-template">
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-align-self-center ion-text-center" size-lg="4" size-md="6" size-xs="12">
      <ng-content></ng-content>
    </ion-col>
  </ion-row>
</ion-grid>
