<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ngxI8AuthTemplateComponent</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ngx-i8-auth-template>
    <img src="https://picsum.photos/500/500" />
    <h1>Title</h1>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Some auth input</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-button expand="block">Auth</ion-button>
    </ion-list>
  </ngx-i8-auth-template>
</ion-content>
