<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ngxI8AreEqualValidator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="validationMessagesFormGroup">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Required untouched</ion-label>
        <ion-input
          type="text"
          formControlName="requiredUntouched"
          ngxI8ValidationMessages
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Required</ion-label>
        <ion-input
          type="text"
          formControlName="required"
          ngxI8ValidationMessages
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">MinLenght</ion-label>
        <ion-input
          type="text"
          formControlName="minLength"
          ngxI8ValidationMessages
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">MaxLenght</ion-label>
        <ion-input
          type="text"
          formControlName="maxLength"
          ngxI8ValidationMessages
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Min</ion-label>
        <ion-input
          type="number"
          formControlName="min"
          ngxI8ValidationMessages
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Max</ion-label>
        <ion-input
          type="number"
          formControlName="max"
          ngxI8ValidationMessages
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          ngxI8ValidationMessages
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Pattern</ion-label>
        <ion-input
          type="string"
          formControlName="pattern"
          ngxI8ValidationMessages
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Pattern custom message</ion-label>
        <ion-input
          type="string"
          formControlName="patternCustom"
          [ngxI8ValidationMessages]="{
            pattern: 'Uppercase'
          }"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
