<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="createUserFormGroup" (submit)="onCreateUserFormSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
         </ion-item>
         <ion-item>
          <ion-label position="stacked" color="primary">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
         </ion-item>
         <ion-button expand="block" type="submit">Create User</ion-button>
      </ion-list>
    </form>
</ion-content>
