<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ngxI8AreEqualValidator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="areEqualValidatorFormGroup">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Password1</ion-label>
        <ion-input type="text" formControlName="password1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password2</ion-label>
        <ion-input type="text" formControlName="password2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label
          >Form is valid: {{ areEqualValidatorFormGroup.valid }}</ion-label
        >
      </ion-item>
      <ion-item>
        <div>
          <ion-label>Password2 errors:</ion-label>
          <pre>
{{ areEqualValidatorFormGroup.controls.password2.errors | json }}</pre
          >
        </div>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
