<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign In/Sign Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="signInFormGroup" (submit)="onSignInFormSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
         </ion-item>
         <ion-item>
          <ion-label position="stacked" color="primary">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
         </ion-item>
         <ion-button expand="block" type="submit">Sign In</ion-button>
      </ion-list>
    </form>
    <ion-list>
      <ion-item>
        <ion-note>authSrvc.user$</ion-note>
        <pre>{{user$ | async | json }}</pre>
      </ion-item>
      <ion-button expand="block" (click)="onSignOutButtonClick()">Sign Out</ion-button>
    </ion-list>
</ion-content>
