<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ngxI8Buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row ngxI8Buttons>
    <ion-col>
      <ion-button (click)="toggle()">Button 1 (hide)</ion-button>
    </ion-col>
    <ion-col>
      <ion-button *ngIf="hidden" expand="block">Button 2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button *ngIf="!hidden">Button 3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full">Button 4</ion-button>
    </ion-col>
    <ion-col *ngIf="!hidden">
      <ion-button >Button 5</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full">Button 6</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
