<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DAO CRUD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="6">
        <ion-list>
          <ion-item>
            <ion-button [disabled]="id" (click)="onCreateButtonClick()"
              >{{ActionEnum.CREATE}}</ion-button
            >
            <ion-button [disabled]="!id" (click)="onUpdateButtonClick()"
              >{{ActionEnum.UPDATE}}</ion-button
            >
            <ion-button [disabled]="!id" (click)="onDeleteButtonClick()"
              >{{ActionEnum.DELETE}}</ion-button
            >
          </ion-item>
          <ion-item>
            <pre>
{{ actions.join("\n")}}
          </pre
            >
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-xs="6">
        <ion-list>
          <ion-item>
            <ion-button (click)="onListButtonClick()">LIST</ion-button>
            <ion-button (click)="onList$ButtonClick()">LIST$</ion-button>
            <ion-button [disabled]="!id" (click)="onGetButtonClick()"
              >GET</ion-button
            >
            <ion-button [disabled]="!id" (click)="onGet$ButtonClick()"
              >GET$</ion-button
            >
          </ion-item>
          <ion-item>
            <pre *ngIf="list && list.length > 0">
LIST
{{ getListData().join("\n") }}
          </pre
            >
            <pre *ngIf="list$ !== null">
LIST$
{{ list$ | async | json}}</pre
            >
            <pre *ngIf="get !== null">{{ get | json }}</pre>
            <pre *ngIf="get$ !== null">{{ get$ | async | json }}</pre>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
