<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NgxI8DialogService</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-button (click)="dialogSrvc.toastSuccess('toast-success')" expand="block">.toastSuccess</ion-button>
    <ion-button (click)="dialogSrvc.toastError('toast-error')" expand="block">.toastError</ion-button>
    <ion-button (click)="dialogSrvc.alert('alert')" expand="block">.alert</ion-button>
    <ion-button (click)="onConfirmButtonClick()" expand="block">.confirm</ion-button>
    <ion-item>
      <ion-label>Confirm++: {{confirm}}</ion-label>
    </ion-item>
    <ion-button (click)="onConfirmDeleteButtonClick()" expand="block">.confirmDelete</ion-button>
    <ion-item>
      <ion-label>ConfirmDelete++: {{confirmDelete}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
