<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>password-unmask-directive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordUnmaksFormGroup">
  <ion-list>
    <ion-item>
      <ion-text>The field must be changed for the directive to work.</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password" ngxI8PasswordUnmask></ion-input>
    </ion-item>
  </ion-list>
  </form>
</ion-content>
