<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ngxI8CharCount</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="charCountFormGroup">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Text without max</ion-label>
      <ion-input type="text" formControlName="textWithoutMax" ngxI8CharCount></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Text with max</ion-label>
      <ion-input type="text" formControlName="textWithMax" ngxI8CharCount></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Textarea without max</ion-label>
      <ion-textarea formControlName="textareaWithoutMax" ngxI8CharCount></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Textarea with max</ion-label>
      <ion-textarea formControlName="textareaWithMax" ngxI8CharCount></ion-textarea>
    </ion-item>
  </ion-list>
</form>
</ion-content>
